#title{
    text-align:right;
}

#questions{
    text-align:center;
}

body{
    padding:30px;
    text-align:center;
}
.can{
    padding-top:20px;
    padding-bottom:40px;
    font-size:25px;
}
.perish{
    padding-bottom:40px;
    font-size:25px;
}